build
cloudformation.yml
dist
/app/.env
/app/cloudformation.yml
app/build
app/dist
node_modules
.env
/deployer/cloudformation.yml
.terraform
**/.secrets/*.tfvars
.idea
tmp
terraform.tfstate.d
yarn.lock
daac-repo
daac
workflows
.python-version
scripts/**/*.log
.container_bash_history
.venv
*.lock.hcl
.DS_Store
