name: lint
on:
  push:
    branches:
      - master
      - main
  pull_request:

jobs:
  tflint:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
    - uses: actions/checkout@v2
      name: Checkout source code

    - uses: actions/cache@v2
      name: Cache plugin dir
      with:
        path: ~/.tflint.d/plugins
        key: ${{ matrix.os }}-tflint-${{ hashFiles('.tflint.hcl') }}

    - uses: terraform-linters/setup-tflint@v1
      name: Setup TFLint
      with:
        tflint_version: v0.21.0

    - name: Show version
      run: tflint --version

    - name: TFLint - cumulus module
      run:  tflint cumulus

    - name: TFLint - data-persistence module
      run:  tflint data-persistence

    - name: TFLint - tf module
      run:  tflint tf
